.Background {
    background-color: greenyellow;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.BackgroundBullets {
    list-style: none;
    display: flex;
}

p {
    width: 50%;
    font-size: 20px;
    line-height: 30px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 50px;
    color: white;
}

.AndereRichtung {
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 40px;
    text-align: center;
}