header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 0 10%;
    align-items: baseline;
}

header img {
    width: 70px;
}

header ul {
    display: flex;
    list-style: none;
}

header {
    padding-right: 20px;
}